main {
 background-color: #272727;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 width: 400px;
 margin: 20px auto;
 text-align: center;
 /* Center align the content */
}

h2 {
 text-align: center;
 color: #ffcc00;
 /* Gold color for headers */
}

.form-group {
 margin-bottom: 20px;
}

.form-group label {
 display: block;
 font-size: 1.2em;
 color: #fff;
 /* White color for labels */
}

input[type="text"],
input[type="password"] {
 width: 80%;
 margin: 0 auto;
 /* Center the input */
 padding: 10px;
 border: 1px solid #776f6f;
 border-radius: 5px;
 text-align: center;
}

button[type="submit"] {
 background-color: #ffcc00;
 border: none;
 color: #1a1a1a;
 padding: 10px 20px;
 font-size: 1.1em;
 cursor: pointer;
 border-radius: 5px;
 transition: background-color 0.3s;
}

button[type="submit"]:hover {
 background-color: #e6b800;
}

p {
 text-align: center;
 margin-top: 20px;
}

p a {
 color: #a5c80a;
 text-decoration: none;
 font-size: 1.1em;
 /* Increase font size */
}

p a:hover {
 text-decoration: underline;
}